.CatogryBtnDiv {
    display: flex;
    justify-content:space-around;
    align-items: center;
    width: 45vw;
    
}

.BtnsCards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#hrbottom {
    height: 10px;
    font-size: 10px;
    border-radius: 50px;
    background-color: #f74190a1;
}

@media(max-Width:768px){
    .CatogryBtnDiv{
        width: 90vw;
    }
}
