.HomeCtBtn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   height: 90px;
   width: 90px;
   align-items: center;
   background-color: white;
   border-radius: 15px;
   padding: 5px;
}

.homebtndivv{
    border-radius: 15px;
    padding: 3px;
    border: 2px solid rgb(244, 243, 244);
    box-shadow: 5px -5px 15px -2px rgba(0,0,0,0.2);
}

@media (max-width:768px){
    .HomeCtBtn{
        height: 50px;
        width: 50px;
    }

    .HomeCtBtn p {
        height: 18px;
        font-size: 10px;
    }
}