
.form_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 450px;
    background-color: white;
    box-shadow: 3px 4px 36px -6px rgba(0,0,0,0.4);
    border-radius: 50px;
}

.left {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.img {
    width: 160%;
    position: absolute;
    left: -150px;
    top: -50px;
}

.right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input {
    width: 320px;
    height: 35px;
    padding: 5px;
    margin: 10px 0;
    outline: none;
    border: none;
    border-bottom: 2px solid #2c444e;
    font-size: 13px;
}

.text {
    font-size: 14px;
    color: #2c444e;
    margin: 5px 0;
    padding: 0;
}

.text > a{
    font-size: 16px;
    font-weight: 500;
    color: blue;
}

.google_btn > img{
    width: 30px;
    height: 30px;
    object-fit: cover;
}

.google_btn > span{
    margin-left: 10px;
} 

.loginimg {
    margin-right: 35px;
    height: 300px;
    width: 385px;
    padding: 150px 0 0 0;
    border-bottom-left-radius: 50px;
    
}

.CrossIcon {
    font-size: x-large;
    
}

.Crossbtn {
    height: 30px;
    width: 305px;
    margin-top: 25px;
    display: flex;
    flex-direction: row-reverse;
}

.Right {
    padding: 20px;
    margin: 0 10px 10px 0;
}


.forgot-password-container{
    display: flex;
    flex-direction:row;
    background-color: #ffffff;
    justify-content:space-between;
    align-items: center;
    padding: 10px;
    margin: 5px 0px;
    font-size: 16px;
    font-weight: 500;
    text-decoration: wavy;
}

.forgot-password-container a{
    color: #8206ff;
    font-size: medium;
    text-decoration: none;
    cursor: pointer;
}

.forgot-password-container a:hover{
    text-decoration: underline;
}




@media (max-width:768px){
    .left {
        display: none;
    }
}