.resetPasswordPage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
}

.resetPasswordContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px;
    height: 350px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
    padding: 10px 20px;
    gap: 10px;
}

/* input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 5px;
    display: inline-block;
    border: 1px solid #8206ff;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: medium;
}

input[type="email"]:focus {
    border: 1px solid #b009fe;
}

.back-link {
    color: #8206ff;
    font-size: medium;
    text-decoration: none;
    cursor: pointer;
}

.message {
    color: #ff0606;
    font-size: medium;
} */